<table id="empleadosDataTable" class="table table-striped table-bordered border-t0 w-100 text-nowrap">
    <thead>
        <tr>
            <th class="wd-15p">Nombres</th>
            <th class="wd-15p">Apellidos</th>
            <th class="wd-20p">DNI</th>
            <th class="wd-10p">Email</th>
            <th class="wd-25p">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Josè Luis</td>
            <td>Olivares Rojas</td>
            <td>44448888</td>
            <td>empleado@empresa.com</td>
            <td><button class="btn btn-danger m-t-5 m-b-5 editarEmpleado" data-employee="1">Editar</button></td>
        </tr>
        <tr>
            <td>Josè Luis</td>
            <td>Olivares Rojas</td>
            <td>44448888</td>
            <td>empleado@empresa.com</td>
            <td><button class="btn btn-danger m-t-5 m-b-5 editarEmpleado" data-employee="2">Editar</button></td>
        </tr>
        <tr>
            <td>Josè Luis</td>
            <td>Olivares Rojas</td>
            <td>44448888</td>
            <td>empleado@empresa.com</td>
            <td><button class="btn btn-danger m-t-5 m-b-5 editarEmpleado" data-employee="3">Editar</button></td>
        </tr>
        <tr>
            <td>Josè Luis</td>
            <td>Olivares Rojas</td>
            <td>44448888</td>
            <td>empleado@empresa.com</td>
            <td><button class="btn btn-danger m-t-5 m-b-5 editarEmpleado" data-employee="4">Editar</button></td>
        </tr>
        <tr>
            <td>Josè Luis</td>
            <td>Olivares Rojas</td>
            <td>44448888</td>
            <td>empleado@empresa.com</td>
            <td><button class="btn btn-danger m-t-5 m-b-5 editarEmpleado" data-employee="5">Editar</button></td>
        </tr>
    </tbody>
</table>
