@model AmbienteWeb.Proyecto.Carpooling.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="wrapper">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "card-body", role = "form" }))
    {
        <h4>Forgot Your Password?</h4>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Enter email" })
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary btn-block" value="Forgot Password" />
        </div>
        <div class="text-center text-muted mt-3 mb-0">
            Forget it, <a href="@Url.Action("Login","Account")">send me back</a> to the sign in.
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
